body {
  font-family: "Epilogue", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 42px;
  background-color: #fff;
  width: 100%;
}

.logo {
  height: 30px;
  width: auto;
  object-fit: cover;
}